<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.TestNGXML"/>
      <methods> 
      <include name="googleURL"></include>  
      <include name="googleSearch"></include> 
      <include name="googleClickImage"></include>   
      <exclude name="facebookURL"></exclude>
      <exclude name="twitterURL"></exclude>
      <exclude name="seleniuimdev"></exclude>     
      </methods>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
